ul{
    background-color: black;
    list-style-type: none;
    overflow: hidden;
}
li a{
    float: left;

}
li a{

    color: white;
    text-align: center;
    text-decoration: none;
}
li a:hover{
    background-color:red;
}
button:hover{
    background-color:red ;
    padding: 20px;
    color: #6edff6;
}